<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>1087696796547-ochmj1sqo7ivf0p3t97gl87ijmie689t.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1087696796547-ochmj1sqo7ivf0p3t97gl87ijmie689t</string>
	<key>API_KEY</key>
	<string>AIzaSyDW1SwzTFa_MuA-AVKC9yXJdn2h9tzKFqc</string>
	<key>GCM_SENDER_ID</key>
	<string>1087696796547</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>fishandchip.Auth-Firebase</string>
	<key>PROJECT_ID</key>
	<string>auth-firebase-f8875</string>
	<key>STORAGE_BUCKET</key>
	<string>auth-firebase-f8875.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1087696796547:ios:aea6ae302425cca76154b6</string>
	<key>DATABASE_URL</key>
	<string>https://auth-firebase-f8875.firebaseio.com</string>
</dict>
</plist>